<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <style>
        .error {color:red}
    </style>
</head>
<body>

<form action="#" th:action="@{/customer/processForm}" th:object="${customer}", method="post">
    First Name:<input th:field="*{firstName}"/>
    <br><br>
    Last Name:<input th:field="*{lastName}"/>
    <span class="error" th:if="${#fields.hasErrors('lastName')}" th:erros="*{lastName}"/>
    <br>
    <input type="submit" th:value="Submit">

</form>

</body>
</html>