<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>


<form action="#" th:action="@{/student/processForm}" th:object="${student}" method="post">
    First name: <input th:field="*{firstName}"/>
    <br><br>
    Last name: <input th:field="*{lastName}"/>
    <br><br>
    E-mail: <input th:field="*{email}">
    <br><br>
    <input type="submit" value="Submit"/>
</form>

</body>
</html>